################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kardz

/Web/obj
/Web/bin
/Web/Log

/EventHandlers/obj
/EventHandlers/bin

/Domain/obj
/Domain/bin

/DTOs/obj
/DTOs/bin

/Registration/obj
/Registration/bin

/Repositories/obj
/Repositories/bin
/Web/ClientApp/.angular/cache
/.vs/VSWorkspaceState.json
