################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kardz

/Web/obj
/Web/bin
/Web/Log

/EventHandlers/obj
/EventHandlers/bin

/Domain/obj
/Domain/bin

/DTOs/obj
/DTOs/bin

/Registration/obj
/Registration/bin

/Repositories/obj
/Repositories/bin
/Web/ClientApp/.angular/cache
/.vs/VSWorkspaceState.json
/TimedEventWorker/bin/Debug/net6.0
/TimedEventWorker/obj
/Messages/obj
/Messages/bin/Debug/net6.0
/.vs/ProjectEvaluation
/DomainTests/obj
/DomainTests/bin/Debug/net6.0
/DomainTests/bin/Debug/net7.0
/Messages/bin/Debug/net7.0
/TimedEventWorker/bin/Debug/net7.0
/DomainTests/bin/Debug/net8.0
/Messages/bin/Debug/net8.0
/TimedEventWorker/bin/Debug/net8.0
/Web/EventStoreDbSqLite.db-shm
/Web/EventStoreDbSqLite.db-wal
/Web/ReadDbSqLite.db-wal
/Web/EventStoreDbSqLite.db-shm
/Web/EventStoreDbSqLite.db-wal
/Web/ReadDbSqLite.db-wal
/Web/ReadDbSqLite.db
/Web/ReadDbSqLite.db-shm
/Web/EventStoreDbSqLite.db
