################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kardz

/Web/obj
/Web/bin

/EventHandlers/obj
/EventHandlers/bin

/Domain/obj
/Domain/bin